<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437063726252-nh9i3e8413vq682cgfrdnh6bf2rskn5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437063726252-nh9i3e8413vq682cgfrdnh6bf2rskn5k</string>
	<key>API_KEY</key>
	<string>AIzaSyAaxmHELJ1PVanbzJgsAtZKrUf5mj3vqzU</string>
	<key>GCM_SENDER_ID</key>
	<string>437063726252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.laundry2</string>
	<key>PROJECT_ID</key>
	<string>laundryv3-2e5af</string>
	<key>STORAGE_BUCKET</key>
	<string>laundryv3-2e5af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437063726252:ios:5046d3d239e98d6d921b09</string>
</dict>
</plist>